<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load staticfiles %}

<html lang="en" dir="ltr">
{% block navbar %}

<head>
    <meta charset="utf-8">

    <title>e-Ghotok : Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "/css/home.css" %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

</head>

<body>


    <div class="row margintop ">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 ">
            <img class='img-fluid img-thumbnail pro_pic' src={{pic.url}} alt="Profile pic">
            <h3 align='center' class="pro_pic" id='username'>{{user}}</h3>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Looking for
                </button>
                <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'myapp:home_male' %}">Male</a>
                    <a class="dropdown-item" href="{% url 'myapp:home_female' %}">Female</a>
                    <a class="dropdown-item" href="{% url 'myapp:home' %}">All</a>
                </div>
            </div>

        </div>

        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8  row container">





            {% for a in object %}
            {% if a.user_id != user.id and gen == 'all' %}
            <a href="{% url 'myapp:profile' a.slug %}" id='atag'>
                <div class="card cardwidth img-thumbnail col-lg-3">
                    <img class="card-img-top fl " src="{{a.pic.url}}">
                    <div class="card-body">
                        <h6 class="card-text card_name"><b>{{a.name}}</b></h6>
                        <p class="carddetailes">Age: {{a.age}}</p>
                        <p class="carddetailes">Location: {{a.city}}</p>
                    </div>
                </div>
            </a>

            {% elif a.user_id != user.id and a.gender|lower == gen %}
            <a href="{% url 'myapp:profile' a.user_id %}" id='atag'>
                <div class="card cardwidth img-thumbnail col-lg-3">
                    <img class="card-img-top fl " src="{{a.pic.url}}">
                    <div class="card-body">
                        <h6 class="card-text card_name"><b>{{a.name}}</b></h6>
                        <p class="carddetailes">Age: {{a.age}}</p>
                        <p class="carddetailes">Location: {{a.city}}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}





        </div>

    </div>







    {% endblock %}
</body>
<script src="
                          https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>