.carousel{
  position: fixed;
}

#login_msg{
  font-size: 15px;
}

.notification{
  max-width: 360px;
  margin-left: 10px;
}
ul{
  list-style-type: none;
}

label {
    display: none;
}

.box{
  border: 10px solid red;
}
body{
  margin: 0;
  font-family: arial,helvetica,sans-serif;
  color: #fff;
  background: url("/static/img/bg.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.signinform{
  float: right;
  padding: 20px;
  margin: 0;

}

#signup{

padding-top: 20%;
  font-weight: bold;
 text-shadow: 2px 2px #24252a;
 text-shadow: 2px 2px 4px #24252a;
  color: #33a0ff;
}

input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.form-control:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.floatright{
  float: right;
}

#quote{
  font-family: 'Atma';
  font-size: 30px;
  text-shadow: 4px 4px #24252a;
  text-shadow: 2px 2px 2px #24252a;
  color: #fff;
  background-color:#0059604d;
  padding: 10px;
  max-width: 440px;
  border-radius: 10px;

}
.texts{
  padding-top: 20px;
  position: relative;
  padding-left: 50px;
  pointer-events: none;
  padding: 20px;
}
#textstitle{
  font-size: 100px;
}

.flex{
  display: flex;
  flex-direction: row;
}
.f1{
  flex: 3;
}
.f2{
  flex: 1;
}



@media (max-width: 1191.98px) {

  .f1{
    flex: 1;
  }
  .f2{
    flex: 1;
  }

  .carousel{
    display: none;
  }

}
@media (max-width: 450px){
  .f1{
    flex: 0;
  }
  .f2{
    flex: 1;
  }
  #textstitle{
    font-size: 50px;
  }
}
